
.popup{
    width: 1500px;
    height: 700px;
    background: #fcf8f7;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    margin-top: 50px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.popup-header{
    background: #fff;
    margin-top: 200px;
}
.popup-body-title{
    margin-left: 300px;
    margin-right: 300px;
    background: #fff;
    display: flex;
    height: 300px;
}

.popup-body-title{
    border: 3px solid #0d3347;
    border-radius: 10px;
}
.popup-body-title > img{
    border-radius: 10px;
    width: 200px;
    max-width: max-content;
    height: 298px;
}

.popup-text{
    margin-left: 50px;
}

.popup-text > h1{
    text-align: left;
    font-size: 30px;
    color: #0d3347;
}
.popup-text > h3{
    font-size: 18px;
    text-align: center;
}

.popup-text > p{
    text-align: left;
    padding-right: 80px;
    font-size: 18px;
}
td {
    background-color: #f4f4f4;
}
.popup button{
    width: 20%;
    margin-top: 30px;
    padding: 10px 0;
    background: #185b80;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    margin-left: 600px;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
