body{
    background-color: #fff;
    color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.card{
    margin-bottom: 100px;
    width: 100%;
    height: 750px;
    background-color: #c9a771;
    background-image: url(../img/minion.jpg);
    background-size: 1310px;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    border-width: 0;
}
.card > h1{
    position: absolute;
    top: 0;
    right: 8.5%;
}
.content{
    position: absolute;
    top: 0;
    right: 0;
    column-count: 1;
    padding: 50px 50px;
    padding-right: 8%;
}
.content > div{
    column-count: 2;
    padding: 20px 20px 20px 40px;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media screen and (max-width: 575px) {
    .card{
        background-image: none;
    }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 20px 20px;
    }
    .card >h1{
        position: absolute;
        top: 0;
        left: 4%;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .card{
        background-image: none;
    }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 20px 20px 40px;
    }
    .card >h1{
        position: absolute;
        top: 0;
        left: 4%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
    .card{
        background-image: none;
    }
    .content{
        column-count: 2;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 20px 20px 40px;
    }
    .card >h1{
        position: absolute;
        top: 0;
        left: 4%;
    }
}
@media screen and (min-width: 1199px) and (max-width: 1820px){
    .card{
        
        background-size: 100%;
        background-color: #efe7dc;
    }
    .content{
        column-count: 4;
        padding: 50px 20px 20px 40px;
    }
    .card >h1{
        position: absolute;
        top: 0;
        left: 4%;
    }
}
