body {
    background-color: #fff;
    color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13%;
}
.span{
    color: rgb(140, 146, 146);
    padding-bottom: 10px;
    padding-left: 15px;
}
.product {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product > h1 > a {
    font-weight: 300;
    text-decoration: none;
    color: black;
}
.product > h1 > a:hover {
    color: #135e87;
}
.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px; 
}

.card_footer {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px 8px 20px;
    text-decoration: none;
    text-align: center;
}
.card_footer:hover{
    color: #135e87;
}

@media screen and (max-width: 575px) {
    .col-md-3 {
        flex: 0 0 100%; 
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .col-md-3 {
        flex: 0 0 50%; 
        max-width: 50%;
    }
    .card_footer {
        padding: 12px 16px; 
    }
}

@media screen and (min-width: 990px) and (max-width: 1400px) {
    .card_footer {
        font-size: 14px; 
        padding: 12px 0px; 
    }
}
