
.popup{
    width: 1000px;
    height: 100%;
    background: #cfcfcf;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 101;
    /* overflow: hidden; */
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup > button{
    padding-top: 40px;
    float: right;
    border: none;
    background: none;
    font-size: 24px;
}

.popup-body-title{
    /* margin-left: 300px;
    margin-right: 300px; */
    width: 60%;
    background: #fff;
    display: flex;
    height: 300px;
    margin-top: 100px;
}

.popup-body-title{
    border: 3px solid #0d3347;
    border-radius: 10px;
}
.popup-body-title > img{
    border-radius: 10px;
    width: 200px;
    max-width: max-content;
    height: 298px;
}

.popup-text > h1{
    text-align: left;
    font-size: 30px;
    color: #0d3347;
}
.popup-text > h3{
    font-size: 18px;
    text-align: left;
}

.popup-text > p{
    text-align: left;
    font-size: 18px;
}

td {
    background-color: #f4f4f4;
}
.pick-seat{
    width: 20%;
    margin-top: 30px;
    padding: 10px 0;
    background: #ffffff;
    color: #000000;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    margin-left: 600px;
}
.pick-seat:hover{
    background: #217bac;
    color: white;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
