* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0d3347;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #FFF;
}

/* COMMON */
a {
    text-decoration: none;
    color: #FFF;
}

ul, li {
    list-style: none;
    padding: 0;
}

.content{
    font-size: 1.6rem;
    width: 1110px;
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 10px 0;
    border-radius: 8px;
    background: var(--primary-color);
    box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
    color: #ffffff;
    background-color: var(--primary-color);
}
/* =======Heading======== */

.heading{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 20px 5px;
    font-size: 3.5rem;
    font-weight: bold;
    
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
}

.title {
    font-size: 3.5rem;
    margin-top: 10px;
    color: #FFF;
    
}

.sub-title{
    display: flex;
    position: relative;
    justify-content: flex-end;
    font-size: 3.5rem;
    
}

/* =====List movie===== */
.list-movie {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.movie-item {
    margin: 15px 15px;
    flex-shrink: 1;
}

.movie-image {
    position: relative;
    overflow: hidden;
} 

.movie-image img {
    transition: transform .5s ease;
}

.movie-image:hover img {
    transform: scale(1.15);
}

.movie-image .rating {
    width: 45px;
    text-align: center;
    position: absolute;
    color: #FFF;
    background-color: rgb(154, 212, 242);
    font-size: 18px;
    top: 6px;
    left: 6px;
    padding: 2px 3px;
}

.movie-info {
    text-align: left;
    height: 95px;
}

.movie-name {
    display: block;
    color: #000000;
    font-weight: 900;
    text-align: center;
    margin: 5px auto;
    height: 38px;
    
}

.movie-name:hover {
    text-decoration: underline;
    color: #000000;
}

.movie-desc {
    color: #000000;
    margin: 0 0 3px;
}

.bold {
    font-weight: 600;
}

.buy-cta {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    
}
.buy-cta .btn {
    margin-left: auto;
    width: 100%;
}
.buy-cta i {
    margin-right: 3px;
}
/* =====Slide====== */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel{
    margin-top: 30px;
}
.carousel-item {
    transition: transform .1s ease-in-out;
    
}

.carousel-inner {
    padding: 4px;
}

.card {
    margin: 0 5px;
    background-image: linear-gradient(white, var(--primary-color));
    
}
.card-body{
    position: relative;
}

.card-body:hover .movie-img{
    background: black;
    opacity: 90%;
    transition: ease-in-out 0.2s;
}
.card-body .link{
    position: absolute;
    display: none;
    text-align: center;
    transition: ease-in-out 0.2s;
}
.card-body:hover .link{
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    transition: ease-in-out 0.2s;
    border: 2px solid #000000;
    border-radius: 25px;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    white-space: nowrap;
}
.card-body .link:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: var(--primary-color);
}

.card .card-footer {
    display: block;
    font-weight: 900;
    text-align: center;
    margin: 5px 0;
    height: 52px;
}

.card-footer .name {
    color: #ffffff;
}

.Header-bot {
    font-size: 160.5%;
}

/* ========responsive========== */
/* PC */
@media screen and (min-width: 1010px) {
    .movie-item img {
        zoom: 60%;
    }
    
    .heading .title{
        color: #000;
        font-size: 3.5rem;
    }
    .heading .title::after{
        content: "";
        width: 2px;
        height: 32px;
        bottom: -10px;
        display: inline-block;
        background-color: var(--primary-color);
        margin: 0 10px;
    }
    .heading .off-air{
        color: rgba(0, 0, 0, 0.5);
    }
    .heading .off-air:hover{
        color: #000000;
        /* font-size: 3.6rem; */
    }
    
    .on-air {
        color: #000000;
        font-size: 3.6rem;
    }
}
/* Tablet */
@media screen and (max-width: 1010px) {
    .movie-item img {
        zoom: 65%;
    }
    
    .heading .title{
        color: #000;
        font-size: 3.5rem;
    }
    .heading .title::after{
        content: "";
        width: 2px;
        height: 32px;
        bottom: -10px;
        display: inline-block;
        background-color: var(--primary-color);
        margin: 0 10px;
    }
    .heading .off-air{
        color: rgba(0, 0, 0, 0.5);
    }
    .heading .off-air:hover{
        color: #000000;
    }
    
    .on-air {
        color: #000000;
        font-size: 3.6rem;
    }
}
/* Phone */
@media screen and (max-width: 767px) {
    .movie-item img {
        zoom: 90%;
    }
    .off-air {
        display: none;
    }
    .heading .title::after {
        display: none;
    }
}

@media(max-width:576px){
  .carousel-inner .carousel-item>div{
    display: none;
  }
  .carousel-inner .carousel-item>div:first-child{
    display: block;
  }
}
