body{
    background-color: #fff;
    color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    text-decoration: none;
}

.product{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product span {
    padding: 25px 25px 25px 25px;
    font-size: 30px;
}

.col-sm-3 {
    flex: 1;
    margin: 10px;
    min-width: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
} 
.col-sm-3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.card_footer{
    color: black;
    size: 130px;
    font-weight: 600;
    padding: 14px 30px 13px 17px;
    text-decoration: none;
    text-align: center; 
}
@media (max-width: 768px) {
    .column {
    min-width: 100%;
}
}
