.footer {
    background-color: #0d3347;
    padding-top: 20px;
    margin-top: 50px;
}

.footer-container {
    width: 60%;
    height: 180px;
    margin: 0 auto;
    color: white;
}

.footer-customer {
    float: left;
    width: 60%;
}

.footer-contact {
    float: left;
    width: 40%;
}

.footer-title {
    font-size: 22px;
    font-weight: bold;
}

.footer-contact-content > a {
    margin-right: 20px;
}

.footer-contact-content > a > img {
    width: 40px;
    border-radius: 5px;
}