body {
    /* background-image: url(../images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-color: #ffeded; */
    font-family: 'Open Sans', sans-serif;
}

.title {
    margin-top: 30px;
    color: black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
}

.card_list {
    width: 75%;
    margin: 0 auto;
}

.cards {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 330px;
}

.card_list a img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border: #0d3347 solid 5px;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.card_list a img:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

.card_footer {
    height: 20%;
    background-color: #0d3347;
    border-radius: 0 0 10px 10px;
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.card_title {
    color: white;
    font-size: 15px;
    margin: 0;
    text-decoration: none;
    transition: color 0.3s ease;
    transition: font-weight 0.3s ease;
}

.card_title:hover{
    color: #cbe4ff;
}