.swiper_main {
    margin: 0 auto;
    width: 90%;
    height: 80vh;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

/* .swiper-button-next::after, .swiper-button-prev::after {
    top: 50%;
} */

.slide_main_1 {
    background-image: url('../images/home_cinema4.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide_main_1_text {
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 100PX;
    left: 150px;
    line-height: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slide_main_1_text>p:first-child {
    font-size: 55px;
}

.slide_main_2 {
    background-image: url('../images/film1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.slide_main_3 {
    background-image: url('../images/film2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.slide_main_4 {
    background-image: url('../images/film3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide_main_5 {
    background-image: url('../images/scene2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.slide_main_6 {
    background-image: url('../images/foods.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_main_7 {
    background-image: url('../images/ticketoffer.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.film_select {
    width: 80%;
    margin: 0 auto;
}

.heading {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
}

.film_select>.swiper-wrapper>.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_film_image>img {
    width: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: static;
    /* margin: 0 auto;
    margin: 10px; */
}

.more-film {
    margin-top: 20px;
}

.more-film > a {
    text-decoration: none;
    color: #9d832c;
    /* border: #9d832c solid 2px; */
    text-align: center;
}

.more-film > a > p {
    border: #9d832c solid 2px;
    display: flex;
    width: 150px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 0.8s ease;
}

.more-film > a > p:hover {
    background-color: #b9a564;
    color: white;
}

/* .line {
    height: 2px;
    background-color: gray;
} */

.news-film {
    width: 80%;
    margin: 0 auto;
}

.news-film > .row {
    margin: 30px;
    color: white;
    padding: 10px;
    background-color: rgb(66, 112, 137);
    border-radius: 10px;
}

.news-film > .row > div:first-child {
    padding: 0;
    padding-right: 20px;
}

.news-film > .row > div:nth-child(2) {
    padding-top: 20px;
}

.news-film > .row > div > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.news-film > .row > div > a > img {
    width: 100%;
    height: 250px;
    padding: 0;
    border-radius: 10px;
}

.special-offer {
    width: 80%;
    margin: 0 auto;
}

.special-offer > a > img{
    width: 100%;
    border: #0d3347 1px solid;
    border-radius: 10px;
}