body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* .Header {
    z-index: 100;
    position: sticky; top: 0;
} */

.Header-top {
    background-color: #f6f8fa;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.Header-top > a {
    text-decoration: none;
    color: #9d832c;
    margin: 0;
    font-size: 45px;
    font-family: 'LT Neo Rounded', sans-serif;
    letter-spacing: 5px;
    height: 60px;
}

.Header-bot {
    color: white;
    background-color: #0d3347;
    z-index: 100;
    position: sticky; 
    top: -1px;
}

.Header-bot-bar {
    display: flex;
    width: 50%;
    margin: 0 auto;
    height: 50px;
}

.Header-bot-item {
    flex-wrap: nowrap;
    width: 25%;
    text-align: center;
}

.Header-bot-item > a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding-top: 15px;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    z-index: 2;
}

.Header-bot-item {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    transition: background 0.8s ease;
}

.Header-bot-item:hover {
    background: rgba(233, 223, 85, 0.3);
}

.time-dropdown {
    height: 100%;
    margin-top: 0;
    padding-top: 15px;
}

.time-dropdown-content {
    display: none;
    background-color: #9d832c;
    color: white;
    font-size: 13px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    margin-top: 11px;
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.time-dropdown-content > p > a{
    text-decoration: none;
    color: white;
}

.time-dropdown:hover .time-dropdown-content {
    display: block;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

#hamburger-icon > div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    background-color: #0d3347;
    padding-right: 32px;
    top: 50px;
    left: 0;
    height: 250px;
    width: 100%;
    list-style: none;
}

.mobile-menu > li {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    transition: background 0.8s ease;
}

.mobile-menu > li:hover {
    background: rgba(233, 223, 85, 0.3);
}

.mobile-menu > li > a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1290px){
    .Header-bot-bar {
        width: 80%;
    }
}

@media only screen and (max-width: 991px){
    .Header-bot-bar {
        width: 100%;
    }
}

@media only screen and (max-width: 650px){
    .Header-bot-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 575px){
    .Header-bot-item {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
}
